<div class="main-wrapper">
  <div class="container">
    <div></div>
    <div>
      <p>swedavia</p>
      <p>swedish airports</p>
    </div>
  </div>
  <div class="login-form">
    <form>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" [formControl]="username">

      <label for="password">Password</label>
      <input type="password" name="password" id="password" [formControl]="password">


      <div>
        <button (click)="loginUser()">Отправить</button>
        <button>Forgot password?</button>
      </div>
      <div *ngIf=showError style="color:red; padding-top:50px">Please check your data</div>
    </form>
  </div>
  <p>Powered by <span>Cygate</span></p>
</div>
<app-alerts></app-alerts>
