.main-wrapper {
  width: 350px;
  height: 550px;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  .container {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    width: 250px;

    div:first-child {
      height: 80px;
      width: 80px;
      background: #007bff;
      border-radius: 50%;
    }

    div:nth-child(2) {
      color: #007bff;
      margin-left: 10px;

      p {
        font-family: sans-serif;
        margin: 0;
      }

      p:first-child {
        font-size: 22px;
        text-transform: uppercase;
        margin-top: 4px;
      }

      p:last-child {
        font-size: 16px;
        padding-top: 0px;
      }
    }
  }
  .login-form {
    color: gray;
    width: 350px;
    height: 210px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    -webkit-transition: box-shadow 2s;
    &:hover {
      box-shadow: 5px 10px #888888;
    }
    input {
      width: 100%;
      height: 35px;
      border: 2px solid lavender;
      border-radius: 5px;
    }

    div {
      padding: 10px 0px;
      button:first-child {
        outline: none;
        background-color: red;
        color: #fff;
        width: 100px;
        padding: 5px;
        border-radius: 25px;
      }
      button:not(:first-child) {
        outline: none;
        float: right;
        border: none;
        text-decoration: underline;
        padding: 5px;
        border-radius: 25px;
      }
    }
  }

  p {
    color: gray;
    text-align: center;
    padding-top: 15px;
    span {
      text-decoration: underline;
    }
  }
}
